body {
    background-color: #80D4FF;
    margin: 0;}

h1 {
    font-size: 4em;
    color: #000000;
    text-align: center;}

.navigation ul {
    background-color: #FFCCFF;
    margin: 0;
    padding: 4px;
    text-align: center;}

.navigation ul li {
    list-style-type: none;
    display: inline;
    margin: 0 8px;}

.navigation ul li a {
    color: #004080;
    text-decoration: none;}

.navigation ul li a:hover {
    color: #62d5e8;
    text-decoration: underline;}

.mainvisual {
    background-color: #080001;
    border-bottom: solid 3px #000000;
}
.mainvisual img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

article {
    padding: 32px 16px;
}

#profile {
    background-color: #71a002;
    color: black;
}

#profile .inner {
    max-width: 600px;
    margin: 0 auto;
}

#concert {
    max-width: 600px;
    margin: 0 auto;
}

section {
    margin: 48px 0;
}

h2 {
    text-align: center;
}

h3 {
    border-left: solid 6px #6b3008;
    padding-left: 6px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th,td {
    border: solid 1px #000000;
    padding: 16px;}

th {
    background-color: #004d8d;}

.performer {
    margin: 0 0 24px;
    overflow: hidden;}

.performer img {
    float: left;
    margin: 0 16px 0 0;}

.performer h4 {
    text-align: center
    margin: 0 0 0.5em;}

.performer p {
    margin: 0;}

.pagetop {
    text-align: center;
}

.copyright {
    border-top: solid 3px #ffb357;
    text-align: center;
}

ol li {
    list-style-type: upper-roman;
}


